<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bbar.spring.test.mvc.repository.SellerRepository">
 
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO
 			`seller`
 		(
 			`nickname`
 			, `profileImage`
 			, `temperature`
 		)
 		VALUES
 		(
 			#{nickname}
 			, #{profileImage}
 			, #{temperature}
 		)
 		
 	</insert>
 	
 	<select id="selectLastSeller" resultType="com.bbar.spring.test.mvc.domain.Seller">
 	SELECT 
 		`id`
 		, `nickname`
 		, `temperature`
 		, `profileImage`
 		, `createdAt`
 		, `updatedAt`
 	FROM
 		`seller`
 	ORDER BY
 		`id` DESC
 	LIMIT
 		1
 		
 	</select>
 	
 	<select id="selectSearchSeller" resultType="com.bbar.spring.test.mvc.domain.Seller" parameterType="int">
 	SELECT 
 		`id`
 		, `nickname`
 		, `temperature`
 		, `profileImage`
 		, `createdAt`
 		, `updatedAt`
 	FROM
 		`seller`
 	WHERE
 		`id` = #{id}
 	LIMIT
 		1
 		
 	</select>
 
 </mapper>