<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>즐겨찾기 추가하기</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<div class = container>
			<h2>즐겨찾기 추가</h2>
			<label>제목 : </label><input class = "form-control" type = "text" id = "nameInput">
			<label class = "mt-1">주소 : </label><input class = "form-control" type = "text" id = "urlInput">	
			<button type = "submit" id="addBtn" class = "form-control mt-3 btn btn-success">추가</button>
	</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
	$("#addBtn").on("click", function() {
		let name = $("#nameInput").val();
		let url = $("#urlInput").val();
		
		// 유효성 검사
		if(name == "") {
			alert("사이트 이름을 입력하세요");
			return;
		}
		
		if(url == "") {
			alert("url을 입력하세요.")
			return;
		}
		
		$.ajax({
			type:"post"
			, url:"/ajax/favorite/create"
			, data:{"name":name, "url":url}
			, success:function(response) {
				if(response.result == "success") {
					alert("저장 성공");
				} else {
					alert("저장 실패");
				}
			}
			, error:function() {
				alert("저장 에러");
			}
		});	
	});
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>