<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날짜입력</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/weather/style.css">
</head>
<body>
	<div id="wrap">
		<div class="d-flex">
			<nav>
				<div class="d-flex justify-content-center mt-2">
					<img alt="기상청 로고" width="130px" src="https://i.namu.wiki/i/1nPN_TIaD79jNBVNj6JHN11vjzfh0x0Oz-P-e14ihEuHb0mRUq89_WKNw7q8svFZ0FyKHTsjKYbPwVt42CmiSXShVY-AkyX7FTQfT-SUDwmD7J50YV4OPISZqk-C1uB9bZrvl2zo99-L416lJmFiyQ.svg">
				</div>
				<ul class="nav flex-column font-weight-bold my-3">
					<li class="nav-item"><a href="#" class="nav-link text-white">날씨</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-white">날씨입력</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-white">테마날씨</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-white">관측기후</a></li>
				</ul>
			</nav>
			<section class="mt-3 ml-4">
				<h4 class="font-weight-bold">날씨 입력</h4>
				<div class="d-flex justify-content-around form-inline mt-5">
					<div class="d-flex">
						<label>날짜</label>
						<input type="text" class="form-control ml-2">					
					</div>
					<div class="d-flex">
						<label>날씨</label>
						<select class="form-control">
							<option value = "#">맑음</option>
							<option value = "#">구름조금</option>
							<option value = "#">흐림</option>
							<option value = "#">비</option>
						</select>					
					</div>
					<div class="d-flex">
						<label>미세먼지</label>
						<select class="form-control">
							<option value = "#">좋음</option>
							<option value = "#">보통</option>
							<option value = "#">나쁨</option>
						</select>					
					</div>
				</div>
				<div class="mt-4 justify-content-around form-inline mt-5">
					<div class="input-group col-3">
						<label class="mr-2">기온</label>						
						<input type="text" class="form-control">
						<div class="input-group-append">
							<div class="input-group-text">°C</div>		
						</div>
					</div>
					<div class="input-group col-3">
						<label class="mr-2">강수량</label>						
						<input type="text" class="form-control">
						<div class="input-group-append">
							<div class="input-group-text">mm</div>		
						</div>
					</div>
					<div class="input-group col-3">
						<label class="mr-2">풍속</label>						
						<input type="text" class="form-control">
						<div class="input-group-append">
							<div class="input-group-text">km/h</div>		
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-end mt-4 mr-5">
					<button type = "button" class="btn btn-success">저장</button>				
				</div>
			</section>			
		</div>
		<footer class="d-flex">
			<div class="logo d-flex justify-content-center align-items-center">
				<img alt="기상청 로고" src="https://i.namu.wiki/i/1nPN_TIaD79jNBVNj6JHN11vjzfh0x0Oz-P-e14ihEuHb0mRUq89_WKNw7q8svFZ0FyKHTsjKYbPwVt42CmiSXShVY-AkyX7FTQfT-SUDwmD7J50YV4OPISZqk-C1uB9bZrvl2zo99-L416lJmFiyQ.svg">
			</div>
			<div class="copyright mt-4 ml-4 small text-secondary">
				<div>(07062) 서울시 동작구 여의대방로16길 61</div>
				<div>Copyright 2024. KMA All Rights Reserved.</div>
			</div>
		</footer>
	</div>
	


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>